<h3>Outgoing Call Summary</h3>
<p><%= @outcount %> Outgoing calls</p>

<table class ="table table-striped">
	<thead>
		<tr>
			<th>Call Start</th>
			<th>Call Duration</th>
		 	<th>Ring Duration</th>
			<th>Caller</th>
		    <th>Call Direction</th>
		    <th>Called Number</th>
		 	<th>Dialed Number</th>
			<th>Account</th>
			<th>Is Internal</th>
			<th>Call Id</th>
			<th>Continuation</th>
			<th>Party 1 Device</th>
			<th>Rarty 1 Name</th>
		 	<th>Party 2 Device</th>
			<th>Party 2 Name</th>
			<th>Hold Time</th>
			<th>Park Time</th>
		</tr>
	</thead>
	<tbody>
			<% @out.each do |outgoing| %>
			<tr>
				<td><%= outgoing.call_start %></td>
				<td><%= outgoing.call_duration %></td>
				<td><%= outgoing.ring_duration %></td>
				<td><%= outgoing.caller %></td>
				<td><%= outgoing.call_direction %></td>
				<td><%= outgoing.called_number %></td>
				<td><%= outgoing.dialed_number %></td>
				<td><%= outgoing.account %></td>
				<td><%= outgoing.is_internal %></td>
				<td><%= outgoing.call_id %></td>
				<td><%= outgoing.continuation %></td>
				<td><%= outgoing.party_1_device %></td>
				<td><%= outgoing.party_1_name %></td>
				<td><%= outgoing.party_2_device %></td>
				<td><%= outgoing.party_2_name %></td>
				<td><%= outgoing.hold_time %></td>
				<td><%= outgoing.park_time %></td>
			</tr>
			<% end %>
				
	</tbody>
		
		
</table>
